// This file is part of web design set.
// 
// The pre element
// <pre> element represents a block of preformatted text, in which structure is represented
// by typographic conventions rather than by elements.
// 
// https://www.w3.org/TR/2011/WD-html5-20110525/grouping-content.html#the-pre-element
// https://www.w3.org/TR/2012/WD-html-markup-20121025/pre.html
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre
// 
// Typical default display properties
// https://www.w3.org/TR/2012/WD-html-markup-20121025/pre.html#pre-display
// 
// pre {
//  display: block;
//  font-family: monospace;
//  white-space: pre;
//  margin: 1em 0;
// }
// 
// *** Living Standard *** 
// https://html.spec.whatwg.org/multipage/grouping-content.html#the-pre-element
//
// Is default enabled: false

@if $is-elements-grouping-content-pre {
    pre {
        display: inline-block;
        margin: .5rem;
        border: 0;
        @include set-box-sizing-border-box;
        padding: .5rem;
        font-family: monospace;
        font-size: .8rem;
        white-space: pre;
        text-align: left; // 
    }
}