//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$html-margin-top: 0 !default;
$html-margin-right: 0 !default;
$html-margin-bottom: 0 !default;
$html-margin-left: 0 !default;

$html-padding-top: 0 !default;
$html-padding-right: 0 !default;
$html-padding-bottom: 0 !default;
$html-padding-left: 0 !default;

// Fallback for old web browser
$html-font-size: 16px;

// Screen widths for fluid font-size
$html-min-screen-width: 320px !default;
$html-max-screen-width: 1140px !default;

// Font sizes for fluid font-size
$html-min-font-size: 16px !default;
$html-max-font-size: 18px !default;