//
//
//
//  Created on : 30.05.2023, 12:57:02
//  Author     : nik
//

$id-copyright-notice-color: $primary-color !default;
$id-copyright-notice-background-color: inherit !default;
$id-copyright-notice-font-size: smaller !default;
$id-copyright-notice-font-weight: inherit !default;
$id-copyright-notice-font-style: inherit !default;