//
//
//
//  Created on : 29.05.2023, 12:40:32
//  Author     : nik
//
    
// Partial nav-bar brand-base
$brand-font-size: 1.2rem !default;
$brand-font-family: $font-family-audiowide !default;
$brand-font-weight: $font-weight-normal !default;

$brand-background-color: $secondary-higlight-bg-color !default;
$brand-color: $secondary-higlight-color !default;

$brand-border-color: $secondary-border-color !default;
$brand-box-shadow-color: $secondary-box-shadow-color !default;