//
//
//
//  Created on : 29.05.2023, 12:51:58
//  Author     : nik
//

$id-footer-nav-bar-font-weight: $font-weight-normal !default;


$class-footer-nav-item-border-width: $default-border-width !default;
$class-footer-nav-item-border-style: $default-border-style !default;
$class-footer-nav-item-border-color: $primary-border-color !default;

$class-footer-nav-item-padding-top: $small-distance !default;
$class-footer-nav-item-padding-right: 0 !default;
$class-footer-nav-item-padding-bottom: $small-distance !default;
$class-footer-nav-item-padding-left: 0 !default;

$class-footer-nav-item-current-background-color: $primary-higlight-bg-color !default;
$class-footer-nav-item-current-color: $primary-higlight-color !default;

$class-footer-nav-link-color: $primary-color !default;
$class-footer-nav-link-hover-bg-color: $primary-higlight-bg-color !default;
$class-footer-nav-link-hover-color: $primary-higlight-color !default;

