//
//
//
//  Created on : 29.05.2023, 12:52:10
//  Author     : nik
//

$hamburg-margin-top: $very-small-distance !default;
$hamburg-margin-right: $very-small-distance !default;
$hamburg-margin-bottom: $very-small-distance !default;
$hamburg-margin-left: auto !default;

$hamburg-border-width: 2px !default;
$hamburg-border-style: solid !default;
$hamburg-border-color: $primary-border-color !default;
$hamburg-border-radius: 3px !default;
$hamburg-background-color: $primary-higlight-bg-color !default;

$hamburg-line-background-color: $primary-higlight-color !default;
$hamburg-line-transition: 0.5s !default;

$id-main-nav-bar-padding-bottom: $small-distance !default;
$id-main-nav-bar-font-weight: $font-weight-normal !default;

$main-nav-bar-dropdown-margin-top: $small-distance !default;

$main-nav-bar-dropdown-border-width: 1px !default;
$main-nav-bar-dropdown-border-style: solid !default;
$main-nav-bar-dropdown-border-color: $secondary-border-color !default;
$main-nav-bar-dropdown-background-color: $secondary-bg-color !default;
$main-nav-bar-dropdown-color: $secondary-color !default;

$main-nav-item-border-width: 1px !default;
$main-nav-item-border-style: solid !default;
$main-nav-item-border-color: silver !default;

$main-nav-item-padding-top: $small-distance !default;
$main-nav-item-padding-right: 0 !default;
$main-nav-item-padding-bottom: $small-distance !default;
$main-nav-item-padding-left: 0 !default;

//$main-nav-item-current-background-color: $primary-higlight-bg-color !default;
//$main-nav-item-current-color: $primary-higlight-color !default;