<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true"/>
  <testsuites>
    <testsuite name="Application">
      <directory>./module/Application/test</directory>
    </testsuite>
    <testsuite name="Contact">
      <directory>./module/Contact/test</directory>
    </testsuite>
    <testsuite name="Samples">
      <directory>./module/Samples/test</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./module/*/src</directory>
    </include>
  </source>
</phpunit>
