// Content cards variables
//
//
//  Created on : 15.07.2023, 18:21:14
//  Author     : Niklaus Höpfner <editor@nik-web.net>
//

$card-container-margin-top: $small-distance !default;

$card-margin-top: $distance !default;
$card-margin-right: auto !default;
$card-margin-bottom: 0 !default;
$card-margin-left: auto !default;

$card-border-width: $default-border-width !default;
$card-border-style: $default-border-style !default;
$card-border-color: $base-border-color !default;
$card-border-radius: $default-border-radius !default;
$card-box-shadow-color: $base-box-shadow-color !default;