// This file is part of web design set.
//
// Declare the variables for this html element
//

$article-margin-top: 0 !default;
$article-margin-right: 0 !default;
$article-margin-bottom: 0 !default;
$article-margin-left: 0 !default;

$article-padding-top: 0 !default;
$article-padding-right: 0 !default;
$article-padding-bottom: 0 !default;
$article-padding-left: 0 !default;