// This file is part of web design set.
//
// Declare the variables for this html element
//

$aside-margin-top: 0 !default;
$aside-margin-right: 0 !default;
$aside-margin-bottom: 0 !default;
$aside-margin-left: 0 !default;

$aside-padding-top: 0 !default;
$aside-padding-right: 0 !default;
$aside-padding-bottom: 0 !default;
$aside-padding-left: 0 !default;