// This file is part of web design set.
//
// Declare the variables for this html element
//

$elements-sections-body-color: $primary-color !default;
$elements-sections-body-bg-color: $primary-bg-color !default;
$elements-sections-body-font-family: $font-family-open-sans !default;
$elements-sections-body-font-style: normal !default;
$elements-sections-body-font-variant: normal !default;
$elements-sections-body-font-weight: $font-weight-normal !default;
$elements-sections-body-line-height: 1.3 !default;
$elements-sections-body-word-spacing: .032rem !default;
$elements-sections-body-letter-spacing: .028rem !default;
$elements-sections-body-text-align: left !default;