// This file is part of web design set.
//
// Declare the variables for this html element
//

$body-margin-top: 0 !default;
$body-margin-right: 0 !default;
$body-margin-bottom: 0 !default;
$body-margin-left: 0 !default;

$body-padding-top: 0 !default;
$body-padding-right: 0 !default;
$body-padding-bottom: 0 !default;
$body-padding-left: 0 !default;

$body-color: $base-color !default;
$body-bg-color: $base-bg-color !default;

$body-font-family: $font-family-open-sans !default;
$body-font-style: normal !default;
$body-font-variant: normal !default;
$body-font-size: 1rem !default;
$body-font-weight: $font-weight-normal !default;

$body-line-height: 1.4 !default;
$body-word-spacing: .032rem !default;
$body-letter-spacing: .028rem !default;

$body-text-align: left !default;