// This file is part of web design set.
//
// Declare the variables for this html element
//

$footer-margin-top: 0 !default;
$footer-margin-right: 0 !default;
$footer-margin-bottom: 0 !default;
$footer-margin-left: 0 !default;

$footer-padding-top: 0 !default;
$footer-padding-right: 0 !default;
$footer-padding-bottom: 0 !default;
$footer-padding-left: 0 !default;