// This file is part of web design set.
//
// Declare the variables for this html element
//

$header-margin-top: 0 !default;
$header-margin-right: 0 !default;
$header-margin-bottom: 0 !default;
$header-margin-left: 0 !default;

$header-padding-top: 0 !default;
$header-padding-right: 0 !default;
$header-padding-bottom: 0 !default;
$header-padding-left: 0 !default;