// This file is part of web design set.
//
// Declare the variables for this html element
//

$headings-margin-top: $smaller-distance !default;
$headings-margin-right: 0 !default;
$headings-margin-bottom: $very-small-distance !default;
$headings-margin-left: 0 !default;

$headings-padding-top: 0 !default;
$headings-padding-right: 0 !default;
$headings-padding-bottom: 0 !default;
$headings-padding-left: 0 !default;

$headings-font-weight: $font-weight-bold !default;

$headings-line-height: 1.2 !default;

$headings-color: $base-higlight-color !default;

$first-heading-font-size: 1.77rem !default;

$second-heading-font-size: 1.38rem !default;

$third-heading-font-size: 1.22rem !default;