// This file is part of web design set.
//
// Declare the variables for this html element
//

$nav-margin-top: 0 !default;
$nav-margin-right: 0 !default;
$nav-margin-bottom: 0 !default;
$nav-margin-left: 0 !default;

$nav-padding-top: 0 !default;
$nav-padding-right: 0 !default;
$nav-padding-bottom: 0 !default;
$nav-padding-left: 0 !default;