// This file is part of web design set.
//
// Declare the variables for this html element
//

$section-margin-top: 0 !default;
$section-margin-right: 0 !default;
$section-margin-bottom: 0 !default;
$section-margin-left: 0 !default;

$section-padding-top: $small-distance !default;
$section-padding-right: $small-distance !default;
$section-padding-bottom: $very-small-distance !default;
$section-padding-left: $small-distance !default;