// This file is part of web design set.

// These variables cannot be overwritten by customer!

//purple-color-variables by html
$purple:#800080;
$purple-100: tint-color($purple, 80%);
$purple-200: tint-color($purple, 60%);
$purple-300: tint-color($purple, 40%);
$purple-400: tint-color($purple, 20%);
$purple-500:$purple;
$purple-600: shade-color($purple, 20%);
$purple-700: shade-color($purple, 40%);
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);
//end purple-color-variables by html

// purple-color-variables by bootstrap(bost)
$purple-bost:  #6f42c1;
$purple-100-bost: tint-color($purple-bost, 80%);
$purple-200-bost: tint-color($purple-bost, 60%);
$purple-300-bost: tint-color($purple-bost, 40%);
$purple-400-bost: tint-color($purple-bost, 20%);
$purple-500-bost: $purple-bost;
$purple-600-bost: shade-color($purple-bost, 20%);
$purple-700-bost: shade-color($purple-bost, 40%);
$purple-800-bost: shade-color($purple-bost, 60%);
$purple-900-bost: shade-color($purple-bost, 80%);
// end purple-color-variables by bootstrap(bost)