// This file is part of web design set.
//
// Variables for the layout containers
//
//  Created on : 28.05.2023, 17:32:29
//  Author     : nik
//

$class-site-width-container-position: relative !default;
$class-site-width-container-width: $site-content-width !default;
$class-site-width-container-max-width: $site-content-max-width;
$class-site-width-container-height: auto;
$class-site-width-container-margin-left: auto;
$class-site-width-container-margin-right: auto;