// This file is part of web design set.
//
//  Variables for the layout segment footer
//
//  Created on : 28.05.2023, 18:12:20
//  Author     : nik
//

$id-site-footer-padding-top: $distance !default;
$id-site-footer-padding-right: 0 !default;
$id-site-footer-padding-bottom: $small-distance !default;
$id-site-footer-padding-left: 0 !default;

$id-site-footer-background-color: $primary-bg-color !default;
$id-site-footer-color: $primary-color !default;