//
//
//
//  Created on : 28.05.2023, 18:05:53
//  Author     : nik
//

$id-site-nav-position-webkit: -webkit-sticky !default;
$id-site-nav-position: sticky !default;
$id-site-nav-top: 0 !default;
$id-site-nav-z-index: 1000 !default;
$id-site-nav-width: 100% !default;

$id-site-nav-background-color: $primary-bg-color !default;
$id-site-nav-color: $primary-color !default;

