// This file is part of web design set.
// 
//  Variables for the layout segment header
//
//  Created on : 28.05.2023, 17:15:08
//  Author     : nik
//

$id-site-header-padding-top: $small-distance !default;
$id-site-header-padding-bottom: $small-distance !default;

$id-site-header-background-color: $secondary-bg-color !default;
$id-site-header-color: $secondary-color !default;