// This file is part of web design set.
//
// Declare the variables for this html element
//

$img-padding-top: 0 !default;
$img-padding-right: 0 !default;
$img-padding-bottom: 0 !default;
$img-padding-left: 0 !default;

$img-margin-top: 0 !default;
$img-margin-right: 0 !default;
$img-margin-bottom: 0 !default;
$img-margin-left: 0 !default;