//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$dd-margin-top: 0 !default;
$dd-margin-right: 0 !default;
$dd-margin-bottom: 0 !default;
$dd-margin-left: 1.25rem !default;

$dd-padding-top: .5rem !default;
$dd-padding-right: 1rem !default;
$dd-padding-bottom: 0 !default;
$dd-padding-left: 0 !default;

$dd-list-style-type: disc !default;
$dd-list-style-position: outside !default;