//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$dl-padding-top: $small-distance !default;
$dl-padding-right: 0 !default;
$dl-padding-bottom: $small-distance !default;
$dl-padding-left: 0 !default;

$dl-margin-top: 0 !default;
$dl-margin-right: 0 !default;
$dl-margin-bottom: 0 !default;
$dl-margin-left: 0 !default;
