//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$dt-padding-top: $small-distance !default;
$dt-padding-right: 0 !default;
$dt-padding-bottom: 0 !default;
$dt-padding-left: 0 !default;

$dt-color: $base-higlight-color !default;

$dt-font-size: 1.15rem !default;
$dt-font-weight: $base-higlight-font-weight !default;