//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$figcaption-padding-top: $small-distance !default;
$figcaption-padding-right: $distance !default;
$figcaption-padding-bottom: $distance !default;
$figcaption-padding-left: $distance !default;
$figcaption-font-size: smaller !default;