//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$li-margin-top: 0 !default;
$li-margin-right: 0 !default;
$li-margin-bottom: 0 !default;
$li-margin-left: 0 !default;

$li-padding-top: $small-distance !default;
$li-padding-right: 0 !default;
$li-padding-bottom: $very-small-distance !default;
$li-padding-left: 0 !default;