//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$main-margin-top: 0 !default;
$main-margin-right: 0 !default;
$main-margin-bottom: 0 !default;
$main-margin-left: 0 !default;

$main-padding-top: $distance !default;
$main-padding-right: 0 !default;
$main-padding-bottom: $distance !default;
$main-padding-left: 0 !default;