//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$ol-padding-top: $small-distance !default;
$ol-padding-right: 0 !default;
$ol-padding-bottom: $small-distance !default;
$ol-padding-left: $distance !default;

$ol-margin-top: 0 !default;
$ol-margin-right: 0 !default;
$ol-margin-bottom: 0 !default;
$ol-margin-left: 0 !default;