//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$p-margin-top: 0 !default;
$p-margin-right: 0 !default;
$p-margin-bottom: 0 !default;
$p-margin-left: 0 !default;

$p-padding-top: $small-distance !default;
$p-padding-right: 0 !default;
$p-padding-bottom: $very-small-distance !default;
$p-padding-left: 0 !default;
