//
// This file is part of web design set.
//
// Declare the variables for this html element
//

$ul-margin-top: 0 !default;
$ul-margin-right: 0 !default;
$ul-margin-bottom: 0 !default;
$ul-margin-left: 0 !default;

$ul-padding-top: $small-distance !default;
$ul-padding-right: 0 !default;
$ul-padding-bottom: $very-small-distance !default;
$ul-padding-left: $max-distance !default;