// This file is part of web design set.
//
// Declare the variables for this html element
//

$a-margin-top: 0 !default;
$a-margin-right: 0 !default;
$a-margin-bottom: 0 !default;
$a-margin-left: 0 !default;

$a-padding-top: 0 !default;
$a-padding-right: 0 !default;
$a-padding-bottom: 0 !default;
$a-padding-left: 0 !default;

$a-outline: none !default;
$a-text-decoration: underline !default;

$a-background-color: $base-a-background-color !default;

$a-color: $base-a-color !default;
$a-visited-color: $base-a-visited-color !default;
$a-focus-color: $base-a-focus-color !default;
$a-focus-outline-color: $base-outline-color !default; 
$a-hover-color: $base-a-hover-color !default;
$a-active-color: $base-a-active-color !default;
