// This file is part of web design set.
// 
// The tbody element
// <tbody> element represents a block of rows that consist of a body of data for its parent table element.
// 
// https://www.w3.org/TR/2011/WD-html5-20110525/tabular-data.html#the-tbody-element
// https://www.w3.org/TR/2012/WD-html-markup-20121025/tbody.html
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tbody
// 
// Typical default display properties
// https://www.w3.org/TR/2012/WD-html-markup-20121025/tbody.html#tbody-display
// 
// tbody {
//  display: table-row-group;
//  vertical-align: middle;
//  border-color: inherit;
// }
// 
// *** HTML Living Standard ***
// https://html.spec.whatwg.org/multipage/tables.html#the-tbody-element
//
// Is default enabled: false

@if $is-elements-tabular-data-tbody {
    tbody {
        display: table-row-group;
        border-color: inherit;
        @include set-box-sizing-border-box;        
        vertical-align: middle;
    }
}