//
// Variables to set the breakpoints
//
// Created on : 05.03.2020, 10:27:07
// Author     : nik

$brand-position-breakpoint: 600px !default;

$footer-nav-breakpoint: 460px !default;

$main-nav-breakpoint: 460px !default;

$two-boxes-breakpoint: 800px !default;