//
// Variables to set the breakpoints
//
// Created on : 05.03.2020, 10:27:07
// Author     : nik

$brand-position-breakpoint: 600px !default;

$footer-nav-breakpoint: 460px !default;

$main-nav-breakpoint: 460px !default;

$two-boxes-breakpoint: 800px !default;

$stands-alone-form-breakpoit: 680px !default;

$cards-first-breakpoint: 700px !default;
$cards-second-breakpoint: 1024px !default;