// This file is part of web design set.
//
// Declare the variables for the configuration of the HTML elements,
// the forms area, here.
//
// These variables can be overwritten by customer!

$is-elements-forms-button: true !default;
$is-elements-forms-datalist: false !default;
$is-elements-forms-fieldset: true !default;
$is-elements-forms-form: false !default;
$is-elements-forms-input: true !default;
// Start types of input
$is-elements-forms-input-for-text: true !default;
$is-elements-forms-input-checkbox: true !default;
$is-elements-forms-input-submit: true !default;
$is-elements-forms-input-radio: false !default;
// End types of input
//$is-elements-forms-keygen: false !default; // bad usage
$is-elements-forms-label: true !default;
$is-elements-forms-legend: false !default;
$is-elements-forms-meter: false !default;
$is-elements-forms-optgroup: false !default;
$is-elements-forms-option: false !default;
$is-elements-forms-output: false !default;
$is-elements-forms-progress: false !default;
$is-elements-forms-select: true !default;
$is-elements-forms-textarea: true !default;
