// This file is part of web design set.
//
// Declare the variables for the configuration of the HTML elements, the grouping-content area, here.
//
// These variables can be overwritten by customer!

$is-elements-grouping-content-p: true !default;
$is-elements-grouping-content-hr: true !default;
$is-elements-grouping-content-pre: true !default;
$is-elements-grouping-content-blockquote: true !default;
$is-elements-grouping-content-ol: true !default;
$is-elements-grouping-content-ul: true !default;
$is-elements-grouping-content-menu: true !default;
$is-elements-grouping-content-li: true !default;
$is-elements-grouping-content-dl: true !default;
$is-elements-grouping-content-dt: true !default;
$is-elements-grouping-content-dd: true !default;
$is-elements-grouping-content-figure: true !default;
$is-elements-grouping-content-figcaption: true !default;
$is-elements-grouping-content-main: true !default;
$is-elements-grouping-content-div: true !default;