// This file is part of web design set.
//
// Declare the variables for the configuration of the HTML elements, the grouping-content area, here.
//
// These variables can be overwritten by customer!

$is-elements-grouping-content-blockquote: false !default;
$is-elements-grouping-content-dd: false !default;
$is-elements-grouping-content-div: true !default;

$is-elements-grouping-content-dl: false !default;
$is-elements-grouping-content-dt: false !default;
$is-elements-grouping-content-figcaption: false !default;
$is-elements-grouping-content-figure: false !default;
$is-elements-grouping-content-figure-class-card: false !default;
$is-elements-grouping-content-hr: false !default;
$is-elements-grouping-content-li: true !default;
$is-elements-grouping-content-main: true !default;
$is-elements-grouping-content-menu: false !default;
$is-elements-grouping-content-ol: false !default;
$is-elements-grouping-content-p: true !default;
$is-elements-grouping-content-pre: false !default;
$is-elements-grouping-content-ul: true !default;