// This file is part of web design set.
//
// Declare the variables for the configuration of the HTML elements, the text-level-semantics area, here.
//
// These variables can be overwritten by customer!

$is-elements_text-level-semantics-a: true !default;
$is-elements_text-level-semantics-em: true !default;
$is-elements_text-level-semantics-strong: true !default;
$is-elements_text-level-semantics-small: true !default;
$is-elements_text-level-semantics-s: true !default;
$is-elements_text-level-semantics-cite: true !default;
$is-elements_text-level-semantics-q: true !default;
$is-elements_text-level-semantics-dfn: true !default;
$is-elements_text-level-semantics-abbr: true !default;
$is-elements_text-level-semantics-ruby: true !default;
$is-elements_text-level-semantics-rt: true !default;
$is-elements_text-level-semantics-rp: true !default;
$is-elements_text-level-semantics-data: true !default;
$is-elements_text-level-semantics-time: true !default;
$is-elements_text-level-semantics-code: true !default;
$is-elements_text-level-semantics-var: true !default;
$is-elements_text-level-semantics-samp: true !default;
$is-elements_text-level-semantics-kbd: true !default;
$is-elements_text-level-semantics-sub: true !default;
$is-elements_text-level-semantics-sup: true !default;
$is-elements_text-level-semantics-i: true !default;
$is-elements_text-level-semantics-b: true !default;
$is-elements_text-level-semantics-u: true !default;
$is-elements_text-level-semantics-mark: true !default;
$is-elements_text-level-semantics-bdi: true !default;
$is-elements_text-level-semantics-bdo: true !default;
$is-elements_text-level-semantics-span: true !default;
$is-elements_text-level-semantics-br: true !default;
$is-elements_text-level-semantics-wbr: true !default;