// This file is part of web design set.
//
// Declare the variables for the configuration of the HTML elements, the text-level-semantics area, here.
//
// These variables can be overwritten by customer!

$is-elements_text-level-semantics-a: true !default;
$is-elements_text-level-semantics-abbr: false !default;
$is-elements_text-level-semantics-b: false !default;
$is-elements_text-level-semantics-bdi: false !default;
$is-elements_text-level-semantics-bdo: false !default;
$is-elements_text-level-semantics-br: true !default;
$is-elements_text-level-semantics-cite: false !default;
$is-elements_text-level-semantics-code: false !default;
$is-elements_text-level-semantics-data: false !default;
$is-elements_text-level-semantics-dfn: false !default;
$is-elements_text-level-semantics-em: false !default;
$is-elements_text-level-semantics-i: false !default;
$is-elements_text-level-semantics-kbd: false !default;
$is-elements_text-level-semantics-mark: false !default;
$is-elements_text-level-semantics-q: false !default;
$is-elements_text-level-semantics-rp: false !default;
$is-elements_text-level-semantics-rt: false !default;
$is-elements_text-level-semantics-ruby: false !default;
$is-elements_text-level-semantics-s: false !default;
$is-elements_text-level-semantics-samp: false !default;
$is-elements_text-level-semantics-small: true !default;
$is-elements_text-level-semantics-span: true !default;
$is-elements_text-level-semantics-strong: true !default;
$is-elements_text-level-semantics-sub: false !default;
$is-elements_text-level-semantics-sup: false !default;
$is-elements_text-level-semantics-time: false !default;
$is-elements_text-level-semantics-u: false !default;
$is-elements_text-level-semantics-var: false !default;
$is-elements_text-level-semantics-wbr: false !default;