// This file is part of web design set.
// 
// The header element
// <header> element represents the header of a section.
// 
// https://www.w3.org/TR/2011/WD-html5-20110525/sections.html#the-header-element
// https://www.w3.org/TR/2012/WD-html-markup-20121025/header.html
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header
// 
// Typical default display properties
// https://www.w3.org/TR/2012/WD-html-markup-20121025/header.html#header-display
// 
// header {
//  display: block;
// }
// 
// *** HTML Living Standard *** 
// https://html.spec.whatwg.org/multipage/sections.html#the-header-element
// 
// Is default enabled: true

@if $is-elements-sections-header {
/*
The <header> html element
*/
    header {
        display: block;
        @include margin($header-margin-top, $header-margin-right, $header-margin-bottom, $header-margin-left);
        border: 0;
        @include set-box-sizing-border-box;
        @include padding($header-padding-top, $header-padding-right, $header-padding-bottom, $header-padding-left);
        font: inherit;
    }
}