// This file is part of web design set.
// 
//
//  Created on : 28.05.2023, 17:32:29
//  Author     : nik
//

$is-segments-containers-class-site-width-container: true;

$is-segments-containers-id-create-sticky-footer: true;

$is-segments-containers-id-brand-position: true;