// This file is part of web design set.

// Config this web font
// Set the variable to true to use the font in the project,
// or override this variable by customer.
//

// courier-prime-latin-ext normal 400
$is-enabled-fonts-courier-prime-latin-ext-normal-normal: false !default;

// courier-prime-latin-ext italic 400
$is-enabled-fonts-courier-prime-latin-ext-italic-normal: false !default;

// courier-prime-latin-ext normal 700
$is-enabled-fonts-courier-prime-latin-ext-normal-bold: false !default;

// courier-prime-latin-ext italic 700
$is-enabled-fonts-courier-prime-latin-ext-italic-bold: false !default;