// This file is part of web design set.

// Config this web font
// Set the variable to true to use the font in the project,
// or override this variable by customer.
//

// open-sans-v15-latin_cyrillic normal 300 (light)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-normal-light: false !default;

// open-sans-v15-latin_cyrillic italic 300 (light)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-italic-light: false !default;

// open-sans-v15-latin_cyrillic normal 400 (normal)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-normal-normal: false !default;

// open-sans-v15-latin_cyrillic italic 400 (normal)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-italic-normal: false !default;

// open-sans-v15-latin_cyrillic normal 600 (semi-bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-normal-semi-bold: false !default;

// open-sans-v15-latin_cyrillic italic 600 (semi-bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-italic-semi-bold: false !default;

// open-sans-v15-latin_cyrillic normal 700 (bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-normal-bold: false !default;

// open-sans-v15-latin_cyrillic italic 700 (bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-italic-bold: false !default;

// open-sans-v15-latin_cyrillic normal 800 (extra-bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-normal-extra-bold: false !default;

// open-sans-v15-latin_cyrillic italic 800 (extra-bold)
$is-enabled-fonts-open-sans-v15-latin_cyrillic-italic-extra-bold: false !default;