// This file is part of web design set.

// Config this web font
// Set the variable to true to use the font in the project,
// or override this variable by customer.
//

// space-mono-v12-latin normal 400 (normal)
$is-enabled-space-mono-latin-normal-normal: false !default;

// space-mono-v12-latin italic 400 (normal)
$is-enabled-space-mono-latin-italic-normal: false !default;

// space-mono-v12-latin normal 700 (bold)
$is-enabled-space-mono-latin-normal-bold: false !default;

// space-mono-v12-latin italic 700 (bold)
$is-enabled-space-mono-latin-italic-bold: false !default;