//
// This file is part of web design set.
//
// Set padding as single value for all pages, two values for vertical and horizontal padding, 
// three values for top, horizontal and bottom padding and four values for top, right, bottom and left padding.
//
//
//    Created on : 20.05.2023, 11:59:18
//    Author     : nik

@mixin padding($top, $right, $bottom, $left) {
    
    @if $top == $bottom and $right == $left and $top == $right {
        padding: $top;
    } @else if $top == $bottom and $right == $left {
        padding: $top $right;
    } @else if $top != $bottom and $right == $left {
        padding: $top $right $bottom;
    } @else {
        padding: $top $right $bottom $left;
    }
}