//
//
//
//  Created on : 29.05.2023, 13:48:34
//  Author     : nik
//

$is-partials-nav-bar-mains-main-no-script: false !default;

$is-partials-nav-bar-brands-brand-base: true !default;

$is-partials-nav-bar-footers-footer-base: true !default;

$is-partials-nav-bar-mains-main-base: true !default;

$is-partials-nav-bar-pagination-control-base: false !default;
