// This file is part of web design set.
//
// Declare the variables for this html element
//

$button-margin-top: 0 !default;
$button-margin-right: 0 !default;
$button-margin-bottom: 0 !default;
$button-margin-left: 0 !default;

$button-border-width: $default-border-width !default;
$button-border-style: $default-border-style !default;
$button-border-color: $default-border-color !default;

$button-padding-top: 0 !default;
$button-padding-right: 0 !default;
$button-padding-bottom: 0 !default;
$button-padding-left: 0 !default;

$button-font-weight: inherit !default;