// This file is part of web design set.
//
// Declare the variables for this html element
//

$fieldset-margin-top: $distance !default;
$fieldset-margin-right: 0 !default;
$fieldset-margin-bottom: 0 !default;
$fieldset-margin-left: 1.25rem !default;

$fieldset-border-width: $default-border-width !default;
$fieldset-border-style: $default-border-style !default;
$fieldset-border-color: $default-border-color !default;

$fieldset-padding-top: $distance !default;
$fieldset-padding-right: $distance !default;
$fieldset-padding-bottom: $small-distance !default;
$fieldset-padding-left: $distance !default;