// This file is part of web design set.
//
// Declare the variables for this html element
//

$form-margin-top: 0 !default;
$form-margin-right: 0 !default;
$form-margin-bottom: 0 !default;
$form-margin-left: 0 !default;

$form-padding-top: $small-distance !default;
$form-padding-right: $small-distance !default;
$form-padding-bottom: $very-small-distance !default;
$form-padding-left: $small-distance !default;