// This file is part of web design set.
//
// Declare the variables for this html element
//

$label-margin-top: 0 !default;
$label-margin-right: 0 !default;
$label-margin-bottom: 0 !default;
$label-margin-left: 0 !default;

$label-padding-top: 0 !default;
$label-padding-right: 0 !default;
$label-padding-bottom: 0 !default;
$label-padding-left: 0 !default;