// This file is part of web design set.
//
// Declare the variables for this html element
//

$legend-padding-top: $very-small-distance !default;
$legend-padding-right: $very-small-distance !default;
$legend-padding-bottom: $small-distance !default;
$legend-padding-left: $very-small-distance !default;

$legend-font-size: $third-heading-font-size !default;
$legend-font-weight: $headings-font-weight !default;
$legend-line-height: $headings-line-height !default;

$legend-color: $headings-color !default;