// This file is part of web design set.
//
// Declare the variables for this html element
//

$select-border-width: $default-border-width !default;
$select-border-style: $default-border-style !default;
$select-border-color: $default-border-color !default;

$select-padding-top: .175rem !default;
$select-padding-right: 1rem !default;
$select-padding-bottom: .175rem !default;
$select-padding-left: 1rem !default;

$select-color: $gray-800-bost !default;
$select-background-color: $gray-100-bost !default;
$select-font-size: 1rem;

$select-font-family: $font-family-open-sans !default;
$select-font-style: normal !default;
$select-font-variant: normal !default;
$select-font-weight: $font-weight-medium !default;