// This file is part of web design set.
//
// Declare the variables for this html element
//

$textarea-margin-top: .5rem !default;
$textarea-margin-right: auto !default;
$textarea-margin-bottom: .25rem !default;
$textarea-margin-left: auto !default;

$textarea-border-width: $default-border-width !default;
$textarea-border-style: $default-border-style !default;
$textarea-border-color: $default-border-color !default;

$textarea-padding-top: .175rem !default;
$textarea-padding-right: 1rem !default;
$textarea-padding-bottom: .175rem !default;
$textarea-padding-left: 1rem !default;

$textarea-color: $gray-800-bost !default;
$textarea-background-color: $gray-100-bost !default;
$textarea-font-size: 1rem;

$textarea-font-family: $font-family-open-sans !default;
$textarea-font-style: normal !default;
$textarea-font-variant: normal !default;
$textarea-font-weight: $font-weight-medium !default;